# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/*
!.settings/org.eclipse.jdt.core.prefs
.vscode/
bin/
.classpath
.project

# fabric

run/
